APP_NAME=Personal CRM
DATABASE_PATH=./data/crm.sqlite3

GOOGLE_SERVICE_ACCOUNT_FILE=./credentials/service_account.json
GOOGLE_SHEET_ID=your_google_sheet_id
GOOGLE_WORKSHEET_NAME=formresponse_1

GOOGLE_TIMESTAMP_COLUMN=時間戳記
GOOGLE_NAME_COLUMN=暱稱
GOOGLE_EMAIL_COLUMN=電子郵件地址
GOOGLE_MESSAGE_COLUMN=補充資訊
GOOGLE_CONTACT_METHOD_COLUMN=聯絡方式
GOOGLE_LOCATION_COLUMN=居住地區
GOOGLE_FORM_SUBMISSION_ID_COLUMN=

DEFAULT_STATUS=Open
